## Todo 
- linear regression using diamond dataset

In [1]:
import pandas as pd
import seaborn as sns
from sklearn import preprocessing
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error

In [2]:
df = pd.read_csv('diamonds.csv')

In [3]:
df['cut'] = preprocessing.LabelEncoder().fit_transform(df['cut'])
df['color'] = preprocessing.LabelEncoder().fit_transform(df['color'])
df['clarity'] = preprocessing.LabelEncoder().fit_transform(df['clarity'])

In [4]:
df.drop(['depth', 'table'], axis=1, inplace=True)

In [6]:
X = df.drop('price', axis=1) 

y = df.price

In [7]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20, random_state=42)

In [8]:
X_train

       carat  cut  color  clarity     x     y     z
26546   2.01    1      2        3  8.23  8.19  4.77
9159    1.01    4      1        3  6.57  6.49  3.92
14131   1.10    3      4        5  6.59  6.54  4.10
15757   1.50    1      1        3  7.21  7.17  4.42
24632   1.52    4      3        4  7.27  7.32  4.53
...      ...  ...    ...      ...   ...   ...   ...
11284   1.05    4      5        5  6.48  6.51  4.05
44732   0.47    2      0        4  5.03  5.01  3.06
38158   0.33    4      2        1  4.49  4.46  2.70
860     0.90    3      6        2  6.13  6.03  3.82
15795   1.14    3      2        2  6.82  6.79  4.11

[43152 rows x 7 columns]

In [9]:
model2= RandomForestRegressor()

In [10]:
model2 = model2.fit(X_train, y_train)

c:\users\ayush.laptop-a9620oed\anaconda\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

In [11]:
predictions2 = model2.predict(X_test)

In [12]:
predictions2

array([ 559. , 2318.6, 1208.2, ...,  826.3, 9757.3, 3860.8])