In [47]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score

In [2]:
df = pd.read_csv('wrangled_data.csv')

In [3]:
df

     Survived  Pclass   Age  SibSp  Parch     Fare  male  Q  S
0           0       3  22.0      1      0   7.2500     1  0  1
1           1       1  38.0      1      0  71.2833     0  0  0
2           1       3  26.0      0      0   7.9250     0  0  1
3           1       1  35.0      1      0  53.1000     0  0  1
4           0       3  35.0      0      0   8.0500     1  0  1
..        ...     ...   ...    ...    ...      ...   ... .. ..
886         0       2  27.0      0      0  13.0000     1  0  1
887         1       1  19.0      0      0  30.0000     0  0  1
888         0       3  24.0      1      2  23.4500     0  0  1
889         1       1  26.0      0      0  30.0000     1  0  0
890         0       3  32.0      0      0   7.7500     1  1  0

[891 rows x 9 columns]

In [14]:
X = df.iloc[:, 1:]

In [15]:
y = df.Survived

In [24]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20, random_state=42)

In [26]:
X_train.shape

(712, 8)

In [27]:
X_test.shape

(179, 8)

In [28]:
y_train.shape

(712,)

In [29]:
y_test.shape

(179,)

In [33]:
model = LogisticRegression(random_state=42)

In [35]:
model.fit(X_train, y_train)

/Users/ayush/opt/anaconda3/lib/python3.8/site-packages/sklearn/linear_model/_logistic.py:762: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression(random_state=42)

In [36]:
predicted = model.predict(X_test)

In [37]:
predicted

array([0, 0, 0, 1, 1, 1, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0,
       1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0,
       1, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 1, 0, 1, 1, 1, 0, 1, 1, 0, 0, 1,
       0, 0, 0, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 0, 0, 1, 1, 0, 0, 0, 1, 1,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0,
       1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 1, 1, 1, 0, 1, 0,
       0, 1, 0, 1, 1, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1,
       0, 0, 0, 1, 1, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 1, 0, 1, 0, 0,
       0, 1, 1])

In [39]:
X_test['predicted'] = predicted

<ipython-input-39-38ae2fbd3260>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_test['predicted'] = predicted

In [40]:
X_test

     Pclass   Age  SibSp  Parch     Fare  male  Q  S  predicted
709       3  24.0      1      1  15.2458     1  0  0          0
439       2  31.0      0      0  10.5000     1  0  1          0
840       3  20.0      0      0   7.9250     1  0  1          0
720       2   6.0      0      1  33.0000     0  0  1          1
39        3  14.0      1      0  11.2417     0  0  0          1
..      ...   ...    ...    ...      ...   ... .. ..        ...
433       3  17.0      0      0   7.1250     1  0  1          0
773       3  24.0      0      0   7.2250     1  0  0          0
25        3  38.0      1      5  31.3875     0  0  1          0
84        2  17.0      0      0  10.5000     0  0  1          1
10        3   4.0      1      1  16.7000     0  0  1          1

[179 rows x 9 columns]

In [41]:
X_test['real'] = y_test

<ipython-input-41-39f3f2c72fa2>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_test['real'] = y_test

In [42]:
X_test

     Pclass   Age  SibSp  Parch     Fare  male  Q  S  predicted  real
709       3  24.0      1      1  15.2458     1  0  0          0     1
439       2  31.0      0      0  10.5000     1  0  1          0     0
840       3  20.0      0      0   7.9250     1  0  1          0     0
720       2   6.0      0      1  33.0000     0  0  1          1     1
39        3  14.0      1      0  11.2417     0  0  0          1     1
..      ...   ...    ...    ...      ...   ... .. ..        ...   ...
433       3  17.0      0      0   7.1250     1  0  1          0     0
773       3  24.0      0      0   7.2250     1  0  0          0     0
25        3  38.0      1      5  31.3875     0  0  1          0     1
84        2  17.0      0      0  10.5000     0  0  1          1     1
10        3   4.0      1      1  16.7000     0  0  1          1     1

[179 rows x 10 columns]

In [43]:
# True positive
# True negative


# False positive  (False alarm) (Type 1 error)
# False negative  (Type 2 error)

In [45]:
confusion_matrix(X_test.real, X_test.predicted)

array([[91, 14],
       [20, 54]])

In [48]:
accuracy_score(X_test.real, X_test.predicted)

0.8100558659217877

In [49]:
precision_score(X_test.real, X_test.predicted)

0.7941176470588235

In [50]:
recall_score(X_test.real, X_test.predicted)

0.7297297297297297

In [51]:
f1_score(X_test.real, X_test.predicted)

0.7605633802816901

In [55]:
(0 + 100)/2

50.0

In [56]:
2*0*100/(0+100)

0.0