In [26]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score
from sklearn.metrics import confusion_matrix

In [2]:
df = pd.read_csv('cleaned_data.csv')

In [3]:
df

     Pclass       Age  SibSp  Parch  male  Q  S  Survived
0         3  22.00000      1      0     1  0  1         0
1         1  38.00000      1      0     0  0  0         1
2         3  26.00000      0      0     0  0  1         1
3         1  35.00000      1      0     0  0  1         1
4         3  35.00000      0      0     1  0  1         0
..      ...       ...    ...    ...   ... .. ..       ...
886       2  27.00000      0      0     1  0  1         0
887       1  19.00000      0      0     0  0  1         1
888       3  25.14062      1      2     0  0  1         0
889       1  26.00000      0      0     1  0  0         1
890       3  32.00000      0      0     1  1  0         0

[891 rows x 8 columns]

In [4]:
X = df.iloc[:,:-1]

In [5]:
y = df[['Survived']]

In [6]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20, random_state=42)

In [7]:
X_train.shape, X_test.shape, y_train.shape, X_test.shape

((712, 7), (179, 7), (712, 1), (179, 7))

In [8]:
from sklearn.linear_model import LogisticRegression

In [9]:
model = LogisticRegression()

In [10]:
model

LogisticRegression()

In [11]:
model.fit(X_train, y_train)

/Users/ayush/opt/anaconda3/lib/python3.8/site-packages/sklearn/utils/validation.py:72: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

LogisticRegression()

In [12]:
predicted = model.predict(X_test)

In [13]:
X_test['predicted'] = predicted

<ipython-input-13-38ae2fbd3260>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_test['predicted'] = predicted

In [14]:
X_test['real'] = y_test

<ipython-input-14-39f3f2c72fa2>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_test['real'] = y_test

In [15]:
X_test

     Pclass       Age  SibSp  Parch  male  Q  S  predicted  real
709       3  25.14062      1      1     1  0  0          0     1
439       2  31.00000      0      0     1  0  1          0     0
840       3  20.00000      0      0     1  0  1          0     0
720       2   6.00000      0      1     0  0  1          1     1
39        3  14.00000      1      0     0  0  0          1     1
..      ...       ...    ...    ...   ... .. ..        ...   ...
433       3  17.00000      0      0     1  0  1          0     0
773       3  25.14062      0      0     1  0  0          0     0
25        3  38.00000      1      5     0  0  1          0     1
84        2  17.00000      0      0     0  0  1          1     1
10        3   4.00000      1      1     0  0  1          1     1

[179 rows x 9 columns]

In [22]:
confusion_matrix(X_test.real, X_test.predicted)

array([[90, 15],
       [18, 56]])

- Accuracy: how accurate is the model?
- Precision: How many passengers predicted to survive the model actually survived?
- Recall: of all who actually survived, how many did the model predict to survive?

In [23]:
accuracy_score(X_test.real, X_test.predicted)

0.8156424581005587

In [24]:
precision_score(X_test.real, X_test.predicted)

0.7887323943661971

In [25]:
recall_score(X_test.real, X_test.predicted)

0.7567567567567568

In [27]:
f1_score(X_test.real, X_test.predicted)

0.7724137931034482