### Topics

- Strings
- '' vs "" vs """
- sequence property of string
- String methods
- string to list and list to string
- concatinating
- dictionaries

In [1]:
test = "hello world"

In [2]:
print ('hello world')

hello world

In [7]:
print ('he said "dude get my dad\'s pants"')

he said "dude get my dad's pants"

In [8]:
# hello

In [10]:
mero_query = """
            SELECT * FROM transactions
            JOIN customer on transactions.customer_id = customer.id
            WHERE transactions.amount > 100
            AND customer_id = 58
            """

In [11]:
print ('hello\nworld')

hello
world

In [16]:
my_name = 'Raj Kumar Shrestha'

In [14]:
my_name[0:5]

'Rajee'

In [18]:
my_name.split()[1]

'Kumar'

In [27]:
csv_jpt = 'Raj, Ramesh, Hari'
split = csv_jpt.split(',')[1]
cleaned = split[1:]

In [30]:
names = ['Raj','Ramesh', 'Hari', 'Madvi']

In [31]:
names

['Raj', 'Ramesh', 'Hari', 'Madvi']

In [35]:
', '.join(names)

'Raj, Ramesh, Hari, Madvi'

In [36]:
names = ['Raj','Ramesh', 'Hari', 'Madvi']

In [38]:
for naam in names:
    print (f"My name is {naam}")

My name is Raj
My name is Ramesh
My name is Hari
My name is Madvi

In [39]:
my_dictionary = {'jan': 1, 'feb':2, 'mar':3}

In [41]:
my_dictionary['feb']

2

In [42]:
my_dictionary['apr'] = 4

In [43]:
my_dictionary

{'jan': 1, 'feb': 2, 'mar': 3, 'apr': 4}

In [44]:
{'feb': 2, 'jan': 1, 'mar': 3, 'apr': 4}

{'feb': 2, 'jan': 1, 'mar': 3, 'apr': 4}

In [65]:
my_list = [1 , 67, 3, 4 ,8 ,5 ,6]

In [66]:
my_set = set(my_list)
print (my_set)

{1, 3, 67, 4, 5, 6, 8}

In [67]:
unique = len(my_list) == len(my_set)
print (unique)

True